* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1.home {
    text-align: center;
    background-color: rgb(31, 29, 29);
    color:white;
    font-weight:bold;
    font-size:64px;

}
a.home {
    color: rgb(31, 29, 29);
    font-size:48px;
}
h2 {
    background-color:rgb(31, 29, 29) ;
    color:white;

}
button {
    background-color:rgb(31, 29, 29);
}
a {
    color:white;
}
h1.recipe {
    text-align: center;
    background-color:  rgb(31, 29, 29);
    color: white;
}
img {
    
}
